<div id="membersBG">
    <nav class="navbar navbar-expand-sm navbar-dark" id="member-nav">
        <!-- Brand/logo -->
        <a class="navbar-brand" href="#"></a>
        <img src="/img/logo2.png" alt="logo" style="width:70px; height:55px;">
        <!-- Links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/community">Community</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/members">Members</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/messages">Messages</a>
            </li>
        </ul>
        <a class="navbar-brand" id="profile-icon" href="/userprofile">
        <img src="/img/headPic.png" alt="logo" style="width:70px; height:55px;"></a>
    </nav>


    <!-- The search-->

    <section class="search-form">
        <form action="" method="GET" name="search" role="search">
            <div class="row">
                <p class="inp-wrap search-wrap d-flex">
                    <label for="search-field" class="search-label grid-25">Find</label>
                    <input type="search" name="search-term" id="search-field"
                        class="grid-75" placeholder="Industry..." />
                </p>
                <p class="inp-wrap cat-wrap d-flex">
                    <label for="categories" class="grid-20">in</label>
                    <select name="search categories" id="categories"
                        class="grid-80" placeholder="Location...">
                        <option value="FrontEnd" selected>City</option>
                        <option value="html/css">Los Angeles</option>
                        <option value="javascript">Chicago</option>
                        <option value="datascience">Dallas</option>
                        <option value="fullstack">San Francisco</option>
                        <option value="backend">New York</option>
                        <option value="webdesign">Miami</option>
                    </select>
                </p>
                <p class="inp-wrap submit-wrap">
                    <button class="grid-100 btn" id="search">
                        <span class="search-icon-container">
                            <?xml version="1.0" encoding="utf-8" ?>
                            </span>
                            Search
                        </button>
                    </p>
                </div>
            </form>
        </section>

        <!--THE LOADING-->

        <div class="loader"></div>



        <!-- The userprofiles -->
        <div class="row">

            {{#each members}}
            <div class="card">
                <img src="/img/namndi.jpg" alt="John">
                <h1>{{firstName}}</h1>
                <p class="jobtitle">{{jobTitle}}</p>
                <p>Javascript, MySQL</p>
                <p>Harvard University</p>
                <p>Dallas, TX</p>
                <div style="margin: 24px 0;">
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                </div>
                <p><button>Collaborate</button></p>
            </div>
            {{/each}}
        
        
        
        
        
        
            {{!-- <div class="card">
                <img src="clonie.jpg" alt="John">
                <h1>Clonie Villani</h1>
                <p class="jobtitle">Front End Developer</p>
                <p>PHP, Javascript, Ruby, MySQL</p>
                <p>Harvard University</p>
                <p>Dallas, TX</p>
                <div style="margin: 24px 0;">
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                </div>
                <p><button>Collaborate</button></p>
            </div>
        </div>


        <div class="row">
            <div class="card">
                <img src="/img/katherine.jpg" alt="John">
                <h1>Katherine Ray</h1>
                <p class="jobtitle">Front End Developer</p>
                <p>PHP, Javascript, Ruby, MySQL</p>
                <p>Harvard University</p>
                <p>Dallas, TX</p>
                <div style="margin: 24px 0;">
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                </div>
                <p><button>Collaborate</button></p>
            </div>
            {{#each users}}
            <div class="card">
                <img src={{user.img}} alt="John">
                <h1>{{users.firstName}}{{users.lastName}}</h1>
                <p class="jobtitle">Front End Developer</p>
                <p>PHP, Javascript, Ruby, MySQL</p>
                <p>Harvard University</p>
                <p>Dallas, TX</p>
                <div style="margin: 24px 0;">
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                </div>
                <p><button>Collaborate</button></p>
            </div>
            {{/each}} --}}

        </div>